In [2]:
# Task:1 intro myself:

name = "Shamsa Kanwal"
age = 17
city = "Lahore"

print(f"Hi, I'm {name} , {age} old , from {city}.")

Hi, I'm Shamsa Kanwal , 17 old , from Lahore.

In [5]:
# intro myself

name1 = "I'm Shamsa Kanwal , "
age1 = "17 Years old , "
city1 = "from Lahore!"

print("Hi, ", name1 + age1 + city1)

Hi,  I'm Shamsa Kanwal , 17 Years old , from Lahore!

In [6]:
# Task 2: Favorite Quote
quote = "Albert Einstein once said, 'A person who never made a mistake never tried anything new.'"

print(f"Once of my favorite quotes is: {quote}")

Once of my favorite quotes is: Albert Einstein once said, 'A person who never made a mistake never tried anything new.'

In [7]:
# Task 3: String Functions

quote = "Albert Einstein once said, 'A person who never made a mistake never tried anything new.'"

print(quote.upper())
print(len(quote))
print(quote.replace('Albert Einstein', 'Shamsa Kanwal'))

ALBERT EINSTEIN ONCE SAID, 'A PERSON WHO NEVER MADE A MISTAKE NEVER TRIED ANYTHING NEW.'
88
Shamsa Kanwal once said, 'A person who never made a mistake never tried anything new.'

In [9]:
# Task 4: Fun Challenge!

name = "Shamsa Kanwal"
age = "17"
city = "Lahore"

print(name[:3]+ age + city[:2])

Sha17La

In [12]:
# Task 4: Fun Challenge!

name = "Shamsa Kanwal"
age = "17"
city = "Lahore"

print(f"{name[:3]}{age}{city[:2]}")

Sha17La